body {
    margin: 0;
    padding-top: 550px;
    text-align: center;
}
.profile {
    border-radius: 50%;
    border: 4px ridge black;
}
#welcome {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom, #db16a8, #c500b1, #aa00bb, #8700c6, #520bd0);
    display: table;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 35px;
    font-family: fantasy;
    font-weight: 300;
}

#name {
    font-size: 50px;
    font-family: fantasy;
}

h2 {
    font-size: 30px;
    font-family: serif;
    font-weight: 300;
}

.inner {
    display: table-cell;
    vertical-align: middle;
}

#bio {
    font-family: fantasy;
    padding: 300px;
    margin: 100px;
}

.line {
    height: 6px;
    background-color: #8700c6;
    width: 70px;
    margin: 4px auto;
}

.menu {
    position: fixed;
    background: lightcyan;
    width: 100%;
    top: 0px;
    z-index: 10;
    cursor: pointer;
    margin-top: 0px;
}

.links {
display: inline;
padding-left: 33px;
padding-right: 25px;
font-family: 'Stick No Bills', sans-serif;
font-size: 22px;

}

.links:hover {
    font-size: 26px;
    text-decoration: underline;
    background-color: crimson;
    border-radius: 15%;
}

#name {
    font-size: 50px;
    font-family: 'Rubik Moonrocks', cursive;
}

#bio {
    padding: 50px;
    font-family: cursive;
}

.music {
    font-size: x-large;
}
 a {
    text-decoration: none;
    color:black !important;
}

#contact {
    background:lightcyan;
}
.contact_1 h3 {
    display:inline;
}